/* Positioning */
// position
pos($value)
	if $value == s
		position static
	else if $value == a
		position absolute
	else if $value == r
		position relative
	else if $value == f
		position fixed

// top
t($value = auto)
	top $value

// right
r($value = auto)
	right $value

// bottom
b($value = auto)
	bottom $value

// left
l($value = auto)
	left $value

// z-index
z($value = auto)
	z-index $value

/* Box behavior and properties */
// float
fl($value)
	if $value == n
		float none
	else if $value == l
		float left
	else if $value == r
		float right

// clear
cl($value)
	if $value == n
		clear none
	else if $value == l
		clear left
	else if $value == r
		clear right
	else if $value == b
		clear both

// display
d($value)
	if $value == n
		display none
	else if $value == b
		display block
	else if $value == i
		display inline
	else if $value == ib
		display -moz-inline-stack
		display inline-block
		zoom 1
		*display inline
	else if $value == mib
		display -moz-inline-box
	else if $value == mis
		display -moz-inline-stack
	else if $value == li
		display list-item
	else if $value == ri
		display run-in
	else if $value == cp
		display compact
	else if $value == tb
		display table
	else if $value == itb
		display inline-table
	else if $value == tbcp
		display table-caption
	else if $value == tbcl
		display table-column
	else if $value == tbclg
		display table-column-group
	else if $value == tbhg
		display table-header-group
	else if $value == tbfg
		display table-footer-group
	else if $value == tbr
		display table-row
	else if $value == tbrg
		display table-row-group
	else if $value == tbc
		display table-cell

// visibility
v($value)
	if $value == v
		visibility visible
	else if $value == h
		visibility hidden
	else if $value == c
		visibility collapse

// overflow
ov($value)
	if $value == v
		overflow visible
	else if $value == h
		overflow hidden
	else if $value == s
		overflow scroll
	else if $value == a
		overflow auto

// overflow-x
ovx($value)
	if $value == v
		overflow-x visible
	else if $value == h
		overflow-x hidden
	else if $value == s
		overflow-x scroll
	else if $value == a
		overflow-x auto

// overflow-y
ovy($value)
	if $value == v
		overflow-y visible
	else if $value == h
		overflow-y hidden
	else if $value == s
		overflow-y scroll
	else if $value == a
		overflow-y auto

// overflow-style
ovs($value)
	if $value == a
		overflow-style auto
	else if $value == s
		overflow-style scrollbar
	else if $value == p
		overflow-style panner
	else if $value == m
		overflow-style move
	else if $value == mq
		overflow-style marquee

// zoom
zoo()
	zoom 1

// clip
cp($value)
	if $value == a
		clip auto
	/*
	pendente
	else if $value == r
		clip:rect();*/

// box-sizing
bxz($value)
	if $value == cb
		box-sizing content-box
	else if $value == bb
		box-sizing border-box

// box-shadow
bxsh($value)
	if $value == n
		box-shadow:none;

/* Sizing */

// margin
mar()
	if arguments == a
		margin:auto;
	if arguments == c
		margin:0 auto;
	else
		margin:arguments;

// padding
pad()
	padding:arguments;

// Tests

div
	pos r
	mar 5px 5px 0 10px
	fl r
	bxz cb

	p
		mar 0 5px 0 0
		pad 40px 0

		&:hover
			mar 0 auto
			d b
